html{
    background-color: black;
    font-family: Helvetica;
    color: seashell;
}
nav{
    position:fixed;
    width: 100%; 
    height:69px;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    background-color: black;
    margin: 0;
    padding: 0;
    z-index: 10;
    top:0;

}
.logo{
    order: 0;
    height:50px;
    width:auto;
    display: inline-flex;
}

.menu {
    display: inline-flex;
    justify-content: flex-end;
    flex-wrap:wrap;
    width: 80%;
}

.item{
    color:seashell;
    text-decoration: underline;
    display: inline-flex;
    padding-right: 5%;
}

li a{
    color: seashell;
}

.first-section{
    display: flex;
    position: relative;
    top: 69px;
    height:700px;
    width: 100%;
    background-image:url("../media/img-mission-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center; 
    text-align: center;
    z-index: -1;
}

.content-in-first-section{
    width: 100%;
    background-color: black;
    color: seashell;


}

.second-section{
    top:70px;
    display:flex;
    position: relative;
    text-align: center;
    flex-direction: column;
    
    z-index: -1;
    


}
.text-section2{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.content-in-second-section{
    width: 100%;
    display: inline-flex;
    
    flex-wrap: wrap;
   
}


figure img{
    width: 300px;
    height: auto;
    
}
